<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>DoAnJava</display-name>
  <welcome-file-list>
    <welcome-file>HeaderServlet</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HeaderServlet</display-name>
    <servlet-name>HeaderServlet</servlet-name>
    <servlet-class>controller.HeaderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HeaderServlet</servlet-name>
    <url-pattern>/HeaderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductServlet</display-name>
    <servlet-name>ProductServlet</servlet-name>
    <servlet-class>controller.ProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/ProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryServlet</display-name>
    <servlet-name>CategoryServlet</servlet-name>
    <servlet-class>controller.CategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryServlet</servlet-name>
    <url-pattern>/CategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCategoryServlet</display-name>
    <servlet-name>AddCategoryServlet</servlet-name>
    <servlet-class>controller.AddCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCategoryServlet</servlet-name>
    <url-pattern>/AddCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCategoryServlet</display-name>
    <servlet-name>UpdateCategoryServlet</servlet-name>
    <servlet-class>controller.UpdateCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCategoryServlet</servlet-name>
    <url-pattern>/UpdateCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCategoryServlet</display-name>
    <servlet-name>DeleteCategoryServlet</servlet-name>
    <servlet-class>controller.DeleteCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCategoryServlet</servlet-name>
    <url-pattern>/DeleteCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListServlet</display-name>
    <servlet-name>ListServlet</servlet-name>
    <servlet-class>controller.ListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListServlet</servlet-name>
    <url-pattern>/ListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FilterProductServlet</display-name>
    <servlet-name>FilterProductServlet</servlet-name>
    <servlet-class>controller.FilterProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilterProductServlet</servlet-name>
    <url-pattern>/FilterProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductDetailsServlet</display-name>
    <servlet-name>ProductDetailsServlet</servlet-name>
    <servlet-class>controller.ProductDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDetailsServlet</servlet-name>
    <url-pattern>/ProductDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FilterProductsServlet</display-name>
    <servlet-name>FilterProductsServlet</servlet-name>
    <servlet-class>controller.FilterProductsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilterProductsServlet</servlet-name>
    <url-pattern>/FilterProductsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubCategoriesServlet</display-name>
    <servlet-name>SubCategoriesServlet</servlet-name>
    <servlet-class>controller.SubCategoriesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubCategoriesServlet</servlet-name>
    <url-pattern>/SubCategoriesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductSearchServlet</display-name>
    <servlet-name>ProductSearchServlet</servlet-name>
    <servlet-class>controller.ProductSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductSearchServlet</servlet-name>
    <url-pattern>/ProductSearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecoverServlet</display-name>
    <servlet-name>RecoverServlet</servlet-name>
    <servlet-class>controller.RecoverServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecoverServlet</servlet-name>
    <url-pattern>/RecoverServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManusServlet</display-name>
    <servlet-name>ManusServlet</servlet-name>
    <servlet-class>controller.ManusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManusServlet</servlet-name>
    <url-pattern>/ManusServlet</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/404.html</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/500.html</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>UpdateManuServlet</display-name>
    <servlet-name>UpdateManuServlet</servlet-name>
    <servlet-class>controller.UpdateManuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateManuServlet</servlet-name>
    <url-pattern>/UpdateManuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddManuServlet</display-name>
    <servlet-name>AddManuServlet</servlet-name>
    <servlet-class>controller.AddManuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddManuServlet</servlet-name>
    <url-pattern>/AddManuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteManuServlet</display-name>
    <servlet-name>DeleteManuServlet</servlet-name>
    <servlet-class>controller.DeleteManuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteManuServlet</servlet-name>
    <url-pattern>/DeleteManuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartServlet</display-name>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>controller.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/CartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeesServlet</display-name>
    <servlet-name>EmployeesServlet</servlet-name>
    <servlet-class>controller.EmployeesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeesServlet</servlet-name>
    <url-pattern>/EmployeesServlet</url-pattern>
  </servlet-mapping>
</web-app>